/* =====GOOGLE FONTS====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* =====COMMON STYLES====== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0 30px;
    box-sizing: border-box;
}

a {
    color: #fff;
    transition: all 400ms ease;
}

a:hover {
    color: #fff;
}

.btn {
    text-align: center;
    width: max-content;
    display: inline-block;
    color: #fff;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid #4db5ff;
    transition: all 400ms ease;
}

.btn:hover {
    background: #fff;
    color: #4db5ff;
    border: 1px solid #4db5ff;
}

.btn-primary {
    background: #4db5ff;
    color: #fff;
}

/* ========= Banner section ============== */
.banner_section {
    background-image: url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.banner {
    width: 35%;
    margin-top: -0%;
    position: absolute;
    right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.banner h1 {
    font-size: 45px;
    color: #151414;
    text-align: end;
}

.banner p {
    color: #444343;
    font-size: 12px;
    text-align: end;
    padding-top: 5px;
    padding-bottom: 10px;
}


/* =========== experience section ================== */
.experience_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.experience_right {
    width: 40%;
    margin-top: 5%;
}

.experience_right h1 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 10px;
    color: #151414;
}

.experience_right p {
    width: 50%;
    font-size: 10px;
    color: #444343;
    padding-top: 5px;
    padding-bottom: 5px;
}

.experience-item {
    display: flex;
    padding-bottom: 4px;
}

.experience-item span img {
    height: 24px;
    width: 24px;
}

/* ================= my plans section================ */
.title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 3rem;
}

.my_plans_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my_plans_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my_plans_items h2 {
    font-size: 30px;
    font-weight: 700;
    color: #151414;
}

.my_plans_items p {
    font-weight: 500;
    font-size: 16px;
    color: #737272;
}

/* ============= activity section========= */
.activity_section {
    background-image: url(/images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    border-radius: 8px;
}

.activity_section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -5;
    background: linear-gradient(90deg, #afb818 0%, rgba(241, 91, 34, 0) 100%);
}

.activity_content {
    padding: 50px;
}

.activity_content h1 {
    width: 470px;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #FFFFFF;
}
/* ======== contact style =========== */
.contact_title{
    color: #121212;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 5%;
}
.contact_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_left{}
.contact_img{
    height: 600px;
    height: 500px;
}

.contact_right {
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid #4db5ff;
    resize: none;
    color: var(--color-white);
}
/*============== footer section style============= */
.footer {
    background-color: #151414;
    height: 500px;
}

.footer_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20%;
}

.footer_left {
    margin-top: 12%;
}

.footer_left h1 {
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
}

.footer_left p {
    font-weight: 400;
    width: 400px;
    font-size: 12px;
    line-height: 26px;
    padding-bottom: 7px;
    color: #FFFFFF;
}

.footer_right {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.footer_right h1 {
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
}
.footer_input{
   margin-bottom: 10px;
}
.footer_input::placeholder{
    color: #FFFFFF;
}

