/* =====GOOGLE FONTS====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* =====COMMON STYLES====== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

a {
    color: #fff;
    transition: all 400ms ease;
}

a:hover {
    color: #fff;
}

.btn {
    text-align: center;
    width: max-content;
    display: inline-block;
    color: #fff;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid #4db5ff;
    transition: all 400ms ease;
}

.btn:hover {
    background: #fff;
    color: #4db5ff;
    border: 1px solid #4db5ff;
}

.btn-primary {
    background: #4db5ff;
    color: #fff;
}

/* ========= Banner section ============== */
.banner_section{
    background-image: url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
.banner{
    width: 35%;
   margin-top: -0%;
   position: absolute;
   right: 10%;
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: flex-end;
}
.banner h1{
    font-size: 45px;
    color: #151414;
    text-align: end;
}
.banner p{
    color: #444343;
    font-size: 12px;
    text-align: end;
    padding: 5px 0 5px 5px;
}
